appName: "onix-local"
log:
  level: debug
  destinations:
    - type: file
      config:
        path: /dev/stdout
  contextKeys:
    - transaction_id
    - message_id
    - subscriber_id
    - module_id
http:
  port: 8082
  timeout:
    read: 30
    write: 30
    idle: 30
pluginManager:
  root: ./plugins
plugins:
  otelsetup:
    id: otelsetup
    config:
      serviceName: "beckn-one-bpp"
      serviceVersion: "1.0.0"
      environment: "development"
      domain: "ev_charging"
      otlpEndpoint: "otel-collector-bpp:4317"
      enableMetrics: "false"
      networkMetricsGranularity: "2min"
      networkMetricsFrequency: "4min"
      enableTracing: "false"
      enableLogs: "true"
      timeInterval: "5"
      auditFieldsConfig: "/app/config/audit-fields.yaml"
modules:
  - name: bppTxnReceiver
    path: /bpp/receiver/
    handler:
      type: std
      role: bpp
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        registry:
          id: dediregistry
          config:
            registryName: subscribers.beckn.one
            timeout: 10
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: 'purplish-detonator-outthink.ngrok-free.dev'
            keyId: '76EU8sSkNwzRwuZXkZFxCCwDgfzVsWCN7e2ADS2k2AvFm6J7aZ24JB'
            signingPrivateKey: 'QhYDELVn5qdS+HAboH0h64QClznVLHyQw9b3HqGbUGw='
            signingPublicKey: '2zylst3Mjr0JBZm+Ye1GM/JCkrYcLSBSieCndPH4Dk8='
            encrPrivateKey: 'QhYDELVn5qdS+HAboH0h64QClznVLHyQw9b3HqGbUGw='
            encrPublicKey: '2zylst3Mjr0JBZm+Ye1GM/JCkrYcLSBSieCndPH4Dk8='
        schemaValidator:
          id: schemav2validator
          config:
            type: url
            location: https://raw.githubusercontent.com/beckn/protocol-specifications-v2/main/api/v2.0.0/beckn.yaml
            cacheTTL: "3600"
            extendedSchema_enabled: "false"
            extendedSchema_cacheTTL: "86400"
            extendedSchema_maxCacheSize: "100"
            extendedSchema_downloadTimeout: "30"
        cache:
          id: cache
          config:
            addr: ${redis_host}:${redis_port}
        signValidator:
          id: signvalidator
        router:
          id: router
          config:
            routingConfig: /app/config/routing-receiver/local-simple-routing-BPPReceiver.yaml
      steps:
        - validateSign
        - addRoute
        - validateSchema

  - name: bppTxnCaller
    path: /bpp/caller/
    handler:
      type: std
      role: bpp
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        registry:
          id: dediregistry
          config:
            registryName: subscribers.beckn.one
            timeout: 10
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: 'purplish-detonator-outthink.ngrok-free.dev'
            keyId: '76EU8sSkNwzRwuZXkZFxCCwDgfzVsWCN7e2ADS2k2AvFm6J7aZ24JB'
            signingPrivateKey: 'QhYDELVn5qdS+HAboH0h64QClznVLHyQw9b3HqGbUGw='
            signingPublicKey: '2zylst3Mjr0JBZm+Ye1GM/JCkrYcLSBSieCndPH4Dk8='
            encrPrivateKey: 'QhYDELVn5qdS+HAboH0h64QClznVLHyQw9b3HqGbUGw='
            encrPublicKey: '2zylst3Mjr0JBZm+Ye1GM/JCkrYcLSBSieCndPH4Dk8='
        schemaValidator:
          id: schemav2validator
          config:
            type: url
            location: https://raw.githubusercontent.com/beckn/protocol-specifications-v2/main/api/v2.0.0/beckn.yaml
            cacheTTL: "3600"
            extendedSchema_enabled: "false"
            extendedSchema_cacheTTL: "86400"
            extendedSchema_maxCacheSize: "100"
            extendedSchema_downloadTimeout: "30"
        cache:
          id: cache
          config:
            addr: ${redis_host}:${redis_port}
        router:
          id: router
          config:
            routingConfig: /app/config/routing-caller/local-simple-routing-BPPCaller.yaml
        signer:
          id: signer
        middleware:
          - id: reqpreprocessor
            config:
              uuidKeys: transaction_id,message_id
              role: bpp
      steps:
        - addRoute
        - sign
        - validateSchema
